@import "./SASS/helpers/variables";
@import "./SASS/helpers/mixin";
@import "./SASS/helpers/functions";
@import "./SASS/components/buttons";

/* Start Global Rules */
body {
  font-family: $bodyFontFamily;
}

* {
  box-sizing: border-box;
}

html {
  // scroll-behavior: smooth;
}

ul {
  @include ulReset;
}

a {
  text-decoration: none;
}

.main-heading {
  position: relative;
  width: fit-content;
  margin: 0 auto 70px auto;
  color: black;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 30px;
  border: 2px solid black;
  font-weight: bold;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main-color;
  }

  &:hover::before {
    z-index: -1;
    animation: left-move 1s linear forwards;
  }

  &:hover::after {
    z-index: -1;
    animation: right-move 1s linear forwards;
  }

  &:hover {
    animation: coloring-heading 1s linear 1s forwards;
  }
}

.continer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@include SmallScreen {
  .continer {
    width: 750px;
  }
}

@include MediumScreen {
  .continer {
    width: 970px;
  }
}

@include LargeScreen {
  .continer {
    width: 1170px;
  }
}

/* End Global Rules */

/*! Start Header*/

.header {
  position: relative;

  .continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    .logo {
      color: $main-color;
      font-size: 26px;
      font-weight: bold;
      height: 82px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav {
      display: flex;
      flex-wrap: wrap;

      li:last-of-type:hover .mega-menu {
        z-index: 100;
        opacity: 1;
        top: calc(100% + 1px);
      }

      >li {
        >a {
          color: black;
          font-size: 18px;
          height: 82px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 30px;
          transition: $transtionDuration;
          position: relative;
          overflow: hidden;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $main-color;
            top: 0;
            left: -100%;
            transition: $transtionDuration;
          }

          &:hover {
            background-color: #fafafa;
            color: $main-color;
          }

          &:hover::before {
            left: 0;
          }
        }
      }
    }

    .mega-menu {
      width: 100%;
      position: absolute;
      background-color: white;
      display: flex;
      align-items: center;
      left: 0;
      top: calc(100% + 50px);
      border-bottom: 1px solid $main-color;
      padding: 30px;
      gap: 40px;
      opacity: 0;
      z-index: -1;
      transition: $transtionDuration;

      .image img {
        max-width: 100%;
      }

      .links {
        min-width: 250px;
        flex: 1;

        li {
          position: relative;
          padding-bottom: 5px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #ececec;
            z-index: -1;
          }

          &:hover::before {
            width: 100%;
            transition: $transtionDuration;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #ececec;
          }

          a {
            display: block;
            color: #2196f3;
            font-size: 20px;
            display: block;
            padding: 20px;
            font-weight: bold;
          }

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@include MoblieScreen {
  .header .continer .nav>li>a {
    padding: 10px;
  }

  .header .continer .mega-menu {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
  }

  .header .continer .mega-menu .links:first-of-type li:last-of-type {
    border-bottom: 1px solid #ececec;
  }

  .header .mega-menu .links {
    width: 100%;
  }

  .header .mega-menu .image img {
    display: none;
  }
}

@include SmallScreen {
  .mega-menu {
    .links {
      width: 100%;
    }

    .image img {
      display: none;
    }
  }
}

//Start Anmition for landing image//
@keyframes ani {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -30px;
  }
}

//End Anmition for landing image//

//Start Fitting the design for moblie screen//
@include MoblieScreen {
  .continer {
    flex-direction: column;
    text-align: center;

    .logo {
      height: 40px;
    }

    .nav li a {
      padding: 0px 10px;
      height: 40px;
    }
  }
}

//End Fitting the design for moblie screen//

/*! End Header*/

/*! Start Landing*/
.landing {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    @include overlay;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }

  .continer {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    min-height: calc(100vh - 82px);

    .image {
      img {
        position: relative;
        width: 600px;
        max-width: 100%;
        animation: ani 4s linear infinite;
      }
    }

    .text {
      p {
        font-size: 24px;
        line-height: 1.6;
        max-width: 500px;
      }
    }

    h3 {
      margin: 0;
      font-size: 28px;
    }
  }
}

.go-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: $main-color;
}

/*! End Header*/

/*!Start articles*/

.articles {
  padding: 100px 0;

  .continer {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;

    .card {
      padding-bottom: 40px;
      border-radius: 6px;
      box-shadow: 0 2px 15px rgba($color: #000000, $alpha: 10%);
      transition: box-shadow $transtionDuration, transform $transtionDuration,
        boredr $transtionDuration;

      &:hover {
        box-shadow: 2px 10px 15px rgba($color: #000000, $alpha: 80%);
        transform: translateY(-10px);
        border: 1px dotted $main-color;
      }

      img {
        width: 100%;
        max-width: 100%;
      }

      .text {
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;

        h3 {
          margin: 0;
        }

        p {
          color: #777;
          line-height: 1.5;
        }
      }

      .info {
        padding: 20px;
        display: flex;
        justify-content: space-between;

        a {
          font-weight: bold;
          color: $main-color;
        }

        i {
          color: $main-color;
        }
      }
    }
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes coloring-heading {
  0% {}

  100% {
    color: white;
    border-color: white;
  }
}

/*!End articles*/

/*!Start Gallery*/
.gallery {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #e6e6e6;
  background-size: cover;

  .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .image {
      border: 20px solid white;
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        position: absolute;

        background-color: rgba($color: white, $alpha: 40%);
        z-index: 10;
        opacity: 0;
      }

      &:hover::before {
        animation: flashing $transtionDuration 0.7s linear forwards;
      }

      img {
        width: 100%;
        max-width: 100%;
        transition: transform $transtionDuration;

        &:hover {
          transform: scale(1.3) rotate(5deg);
        }
      }
    }
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

/*!End Gallery*/

/*!Start Features*/
.features {
  padding-top: 70px;
  padding-bottom: 70px;

  .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      border: 1px solid #777;
      overflow: hidden;
      text-align: center;
      padding-bottom: 30px;

      .image {
        position: relative;

        &::before {
          content: "";
          @include overlay;
          background-color: rgba($color: #f44036, $alpha: 50%);
        }

        &::after {
          content: "";
          bottom: 0;
          right: 0;
          border-style: solid;
          border-width: 0 0 170px 500px;
          border-color: transparent transparent white transparent;
          position: absolute;
          z-index: 3;
          transition: $transtionDuration;
        }

        img {
          max-width: 100%;
          width: 100%;
        }
      }

      h2 {
        font-weight: bold;
        font-size: 35px;
        margin: 0;
        padding: 20px 0 60px 0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%);
          width: 100px;
          height: 4px;
          background-color: #f44036;
        }
      }

      p {
        color: #777;
        line-height: 1.5;
        font-size: 20px;
        padding: 0 30px 60px 30px;
      }

      a {
        background-color: transparent;
        padding: 5px 30px;
        font-size: 25px;
        border: 2px solid #f44036;
        font-weight: bold;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        color: #f44036;

        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 0%;
          height: 100%;
          background-color: red;
          border-radius: 8px;
          z-index: -1;
        }
      }

      &:hover .image::after {
        border-width: 170px 500px 170px 0;
        border-color: transparent transparent white transparent;
      }

      &:hover a::before {
        width: 100%;
        z-index: -1;
        transition: width $transtionDuration;
      }

      &:hover a {
        color: white;
      }
    }

    .box.two .image::before {
      background-color: rgba($color: #009688, $alpha: 50%);
    }

    .box.two h2::after {
      background-color: #009688;
    }

    .box.two a {
      color: #009688;
      border-color: #009688;
    }

    .box.two:hover a::before {
      background-color: #009688;
    }

    .box.two:hover a::before {
      background-color: #009688;
    }

    .box.two:hover a,
    .box.three:hover a {
      color: white;
    }

    .box.three .image::before {
      background-color: rgba($color: $main-color, $alpha: 50%);
    }

    .box.three h2::after,
    .box.three:hover a::before {
      background-color: $main-color;
    }

    .box.three a {
      color: $main-color;
      border-color: $main-color;
    }
  }
}

@include MoblieScreen {
  .features .continer .box .image::after {
    content: "";
    border: 0;
  }
}

@keyframes fetures-link-effect {
  0% {}

  100% {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}

/*!End Features*/

/*!Start Testimonials*/

.testimonials {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #e6e6e6;
  background-size: cover;

  .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      position: relative;

      .image {
        position: absolute;
        left: calc(100% - 120px);
        top: -50px;
        background-color: #e6e6e6;
        border-radius: 50%;
        padding: 10px;

        img {
          width: 100px;
          max-width: 100px;
          border-radius: 50%;
        }
      }

      .text {
        background-color: white;
        padding: 20px;

        h3 {}

        p {
          line-height: 1.5;
          color: #777;
        }

        i {
          color: #ffc107;
        }
      }
    }
  }
}

/*!End Testimonials*/

/*!Start  Team*/
.team {
  padding-top: 70px;
  padding-bottom: 70px;

  .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: #f3f3f3;
        top: 0;
        right: 0;
        width: calc(100% - 60px);
        height: 100%;
        z-index: -2;
        border-radius: 6px;
      }

      .imageicon {
        display: flex;
        align-items: center;

        img {
          width: calc(100% - 60px);
          transition: $transtionDuration;
        }

        .icon {
          width: 60px;

          display: flex;
          flex-direction: column;
          gap: 20px;

          i {
            color: #777777;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .text {
        padding-left: 60px;

        h3 {
          color: $main-color;
        }

        p {}
      }

      &::after {
        position: absolute;
        content: "";
        background-color: #e4e4e4;
        top: 0;
        right: 0;
        z-index: -1;
        transition: $transtionDuration;
        width: 0;
        border-radius: 6px;
      }

      &:hover::after {
        width: calc(100% - 60px);
        height: 100%;
      }

      &:hover img {
        filter: grayscale(100%);
      }

      &:hover .text {
        filter: grayscale(100%);
      }
    }
  }
}

/*!End  Team*/

/*!Start  Services*/

.services {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #e6e6e6;
  background-size: cover;

  .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      background-color: white;
      counter-increment: services;
      position: relative;
      transition: $transtionDuration;

      i {
        display: block;
        margin: 30px auto;
        text-align: center;
        color: #d5d5d5;
      }

      h3 {
        text-align: center;
        color: $main-color;
        margin: 40px 0;
      }

      .info {
        text-align: right;
        position: relative;

        padding: 15px;

        &::before {
          position: absolute;
          content: "0" counter(services);
          left: 0;
          top: -0.1px;
          font-size: 30px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: $main-color;
          padding: 0 25px;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 72px;
          background-color: #d5d5d5;
          top: -0.1px;
          left: 69.4px;
          transform: skewX(-29deg);
        }
      }

      a {
        color: $main-color;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        background-color: $main-color;
        transition: $transtionDuration;
      }

      &:hover::before {
        width: 100%;
      }

      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

/*!End  Services*/

/*!Start  Skills*/
.skills {
  padding-top: 70px;
  padding-bottom: 70px;

  .continer {
    display: flex;

    .image {
      img {
        max-width: 100%;
      }
    }

    .progress {
      flex-basis: calc(100% - 500px);

      p {
        color: black;
        font-size: 20px;
        font-weight: bold;
      }

      div {
        height: 40px;
        background-color: #eeeeee;
        position: relative;

        span {
          display: block;
          width: 100%;
          height: 100%;
          background-color: $main-color;
        }

        &::before {
          position: absolute;
          content: attr(data-progress);
          right: 0;
          padding: 5px 7px;
          border-radius: 6px;
          top: -40px;
          border: 1px solid #e3dbdb;
          color: $main-color;
          font-weight: bold;
        }
      }
    }
  }
}

/*!End  Skills*/

/*!Start  Work*/
.work {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #e6e6e6;
  background-size: cover;

  .continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    > img {
      width: 45%;
      max-width: 100%;
      margin-right: 30px;
    }

    .work-detials {
flex: 1;      .work-info {
        background-color: #f6f5f5;
        padding: 30px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        position: relative;
        z-index: 1;

        img {
          width: 60px;
          margin-right: 30px;
        }

        .text {
          flex: 1;

          h3 {
            margin: 0;
          }

          p {
            color: #777;
            line-height: 1.5;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #ededed;
          z-index: -1;
          transition: $transtionDuration;
        }

        &:hover::before {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include MoblieScreen {
  .continer > img{
    margin-bottom: 30px;
  }
}

@keyframes work-animation {

  0%,
  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.252);
  }
}

/*!End  Work*/

/*!Start  Events*/
.events {
  padding-top: 70px;
  padding-bottom: 70px;

  .continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 450px;
      max-width: 100%;
    }

    .text {
      flex: 1;
      text-align: center;

      .time {
        display: flex;
        justify-content: center;

        .unit {
          margin: 0 3px 20px;
          border: 1px solid #777;
          text-align: center;
          border-radius: 4px;
          transition: $transtionDuration;

          span:first-of-type {
            display: block;
            color: $main-color;
            font-size: 30px;
            font-weight: bold;
            padding: 10px;
          }

          span:last-of-type {
            display: block;
            color: #777;
            font-size: 10px;
            border-top: 1px solid #777;
            padding: 5px 10px;
            transition: $transtionDuration;
          }

          &:hover {
            border-color: $main-color;

            span:last-of-type {
              border-color: $main-color;
            }
          }
        }
      }

      .text-info {
        h3 {
          font-size: 25px;
        }

        p {
          color: #777;
          line-height: 1.6;
        }
      }
    }
  }

  .subscribe {
    width: 100%;

    form {
      width: 600px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f6f5f5;
      padding: 20px 40px;
      gap: 20px;

      input[type="text"] {
        flex: 1;
        padding: 20px;
        border: none;
        border-radius: 10px;

        &::placeholder {
          transition: opacity $transtionDuration;
        }

        &:focus {
          outline: none;

          &::placeholder {
            opacity: 0;
          }
        }
      }

      input[type="Submit"] {
        background-color: $main-color;
        color: white;
        border: 0;
        padding: 15px;
        border-radius: 40px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

@include MoblieScreen {
  .events .continer .subscribe form {
    flex-direction: column;
    width: 100%;
  }
}

/*!End  Events*/

/*!Start Pricing*/
.pricing {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #e6e6e6;
  background-size: cover;

  .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .col {
      text-align: center;
      background-color: white;
      padding: 20px;
      position: relative;
      z-index: 1;

      h3 {
        font-size: 24px;
      }

      img {
        width: 60px;
      }

      span:first-of-type {
        color: $main-color;
        display: block;
        margin-top: 30px;
        font-size: 40px;
        font-weight: bold;
      }

      span:last-of-type {
        color: #777;
        display: block;
        margin-bottom: 30px;
      }

      ul {
        text-align: left;

        li {
          border-top: 1px solid #eeeeee;
          padding: 30px 0;
          color: black;

          i {
            color: $main-color;
            font-weight: bold;
            padding-right: 10px;
          }
        }
      }

      button {
        background: none;
        border: 1px solid $main-color;
        color: $main-color;
        background: none;

        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 0%;
        background-color: #f6f6f6;
        z-index: -1;
        transition: $transtionDuration;
      }

      &:hover::after {
        height: 100%;
        width: 100%;
      }

      &.advanced {
        transform: translateY(-30px);
      }
    }
  }
}

/*!End Pricing*/

/*!Start Video*/
.video {
  padding-top: 70px;
  padding-bottom: 70px;

  .continer {
    display: flex;

    .top-video {
      min-width: 300px;
      border: 1px solid #ececec;

      h3 {
        background-color: #e2e2e2;
        margin: 0;
        padding: 20px 10px;
        font-size: 15px;
      }

      ul {
        li {
          border-top: 1px solid #ddd;
          padding: 30px 10px;
          color: black;

          a {
            color: black;

            &:hover {
              color: $main-color;
            }
          }

          span {
            display: block;
            color: #777;
          }
        }
      }
    }

    .image {
      border: 1px solid #ececec;

      padding: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background-color: #eeeeee;

      img {
        max-width: 100%;
      }

      p {
        background-color: white;
        padding: 20px 10px;
      }
    }
  }
}

/*!End Video*/

/*!Start Stats*/
.stats {
  padding-top: 70px;
  padding-bottom: 70px;

  .continer {
    h2 {
      text-align: center;
      font-size: 40px;
      padding-bottom: 40px;
    }

    .holder {
      display: flex;
      justify-content: space-evenly;

      .info {
        text-align: center;
        position: relative;

        i {
          font-size: 40px;
          margin-bottom: 20px;
        }

        h3 {
          font-size: 50px;
          margin: 0;
        }

        p {
          font-size: 20px;
          color: $main-color;
        }

        &::before {
          position: absolute;
          content: "";
          left: -50px;
          bottom: 0;
          width: 2px;
          height: 0%;
          background-color: $main-color;
          transition: $transtionDuration;
        }

        &::after {
          position: absolute;
          content: "";
          left: calc(100% + 50px);
          top: 0;
          width: 2px;
          height: 0%;
          background-color: $main-color;
          transition: $transtionDuration;
        }

        &:hover::before {
          height: 100%;
        }

        &:hover::after {
          height: 100%;
        }
      }
    }
  }
}

@include MoblieScreen {
  .stats .continer .holder {
    flex-direction: column;
  }
}

/*!End Stats*/

/*!Start Discount*/
.discount {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

  .image {
    background-image: url("../images/discount-background1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $main-color, $alpha: 97%);
      z-index: -1;
    }

    .content {
      text-align: center;
      h3 {
        font-size: 30px;
        color: white;
        margin-bottom: 30px;
      }

      p {
        max-width: 500px;
        line-height: 1.5;
        color: white;
        font-size: 18px;
        text-align: center;
      }

      img {
        width: 300px;
        max-width: 100%;
      }
    }
  }

  .request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    text-align: center;

    .content {
      h3 {
        font-size: 40px;
        color: black;
      }


     input{
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #cccccc;
      padding: 20px;
      color: black;
      &:focus{
        outline: none;
        &::placeholder{
          opacity: 0;
        }
      }
     }

      input[type="submit"] {
        padding: 10px 30px;
        background-color: $main-color;
        color: white;
        font-weight: bold;
        cursor: pointer;
      
      }
      textarea{
        margin-bottom: 20px;
        display: block;
        width:100%;
        height: 200px;
        border: none;
        color: black;
        padding: 40px 20px 0 20px;
        border-bottom: 1px solid #cccccc;
        resize: none;
        &:focus{
          outline: none;
          &::placeholder{
            opacity: 0;
          }
        }

      }
    }
  }
}

@include MoblieScreen {
  .discount {
    flex-direction: column;

    .image {
      width: 100%;
    }

    .request {
      width: 100%;
    }
  }
}

/*!End Discount*/


/*!Start Footer*/

.footer{
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #191919;
  background-size: cover;
  color: white;
  position: relative;
  .continer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    .sec1{
      h2{margin: 0;
        margin-bottom: 20px;
        font-size: 40px;
      }
      .icon{
        i{
          background-color: #313131;
          padding: 10px;
          font-size: 30px;
          margin-left:10px ;
          &:first-of-type{
            margin: 0;
        }
      
        }
      }
      p{
        line-height: 1.6;
        font-size: 18px;
        color: #c4bdbd;

      }
    }
    .sec2{
      ul{
       @include ulReset;
        li{
          
          padding: 15px 0;
          border-bottom: 0.5px solid #c4bdbd;
          transition: $transtionDuration;
          &:last-of-type{
            border: none;
          }
          &:hover{
            padding-left: 10px;
          }
          i{
            color: $main-color;
            margin-right: 10px;
          }
          a{
            color: #c4bdbd;
          }
        }
      }
    }
    .sec3{
      .icon-text{
        display: flex;
        align-items: center;
        i{
         
          font-size: 25px;
          color: $main-color;
          margin-right: 20px;
        }
        p{
          color: #c4bdbd;
          line-height: 1.4;
        }
      }
    }
    .sec4{
      padding-top: 20px;
      img{
        max-width: calc(90% / 3);     
        border: 5px solid #c4bdbd ;  
        margin: 0 5px 5px 0;
      }
    }
   
  }
  .copyright{
     margin-top: 60px;
     padding-top: 20px;
     border-top: 0.5px solid #c4bdbd;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: $transtionDuration;
    span{
      color: $main-color;
    }
  
  }
}



/*!End Footer*/
