$main-color:#2196f3;
$alt-main-color:#1787e0;
$pargraphColor:#666666;

$bodyFontFamily: 'Cairo', sans-serif;

$mobileScreen:'max-width:767px';
$smallScreen:"(min-width:768px)  and  (max-width:991px) ";
$mediumScreen:"(min-width:992px) and (max-width:1999px)";
$largeScreen:'min-width:1200px';

$transtionDuration:0.7s;

